* {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  height: 30px;
  border: 1px lightgrey solid;
  border-radius: 6px;
  min-width: 200px;
  padding-left: 4px;
}

button {
  height: 30px;
  padding: 0 16px;
  margin: 0 0.33rem;
  border: none;
  background-color: lightgreen;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
}

#chat-title {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
}

#brand {
  display: flex;
  align-items: center;
}

#logo {
  height: 60px;
  margin-right: 12px;
}

#page-view {
  display: flex;
  flex-direction: column;
  height: 100vh;

}

#user-form {
  margin: 1rem 0;
  padding: 0 24px;
}

#username-view {
  display: none;
  color: lightblue;
}

#username-edit {
  font-size: 0.75rem;
  margin-left: 0.5rem;
}

#chat-view {
  flex: 1;
  overflow-y: scroll;
  padding: 0 24px;
}

#msg-form {
  height: 50px;
  display: flex;
  align-items: center;
  background: lightblue;
  padding: 0 24px;
}

#msg-input {
  width: 600px;
}

.label {
  margin-bottom: 4px;
}

.msg {
  min-height: 3rem;
  width: 400px;
  padding: 1rem 1rem 1.5rem 1rem;
  margin: 16px 0;
  background: lightgreen;
  border-radius: 6px;
  position: relative;
}

.msg-data {
  color: grey;
  position: absolute;
  font-size: 0.75rem;
  bottom: 0.33rem;
  left: 1rem;
}

#username {
  color: black;
}
