:root {
  --mainBlue: darkblue;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  color: var(--mainBlue);
  height: 100vh;
  max-height: 100vh;
  font-family: 'Muli', sans-serif;
}

input {
  height: 2rem;
  border: 1px lightgrey solid;
  border-radius: 6px;
  min-width: 200px;
  padding-left: 4px;
}

button {
  height: 2rem;
  padding: 0 16px;
  margin: 0 0.33rem;
  border: none;
  background-color: lightgreen;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  color: var(--mainBlue);
}

#chat-title {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
}

#brand {
  display: flex;
  align-items: center;
}

#logo {
  height: 3.5rem;
  margin-right: 12px;
}

#page-view {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#user-form {
  margin: 1rem 0;
  padding: 0 24px;
}

#username-view {
  display: none;
  color: lightblue;
}

#username-edit {
  font-size: 0.75rem;
  margin-left: 0.5rem;
}

#chat-container {
  flex: 1;
  display: flex;
  overflow-y: scroll;
}

#chat-view {
  flex: 1;
  overflow-y: scroll;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
}

#user-title {
  margin-left: 12px;
}

#user-title span {
  margin-left: 6px;
  font-size: 1rem;
}

#user-view {
  border: 1px lightgrey solid;
  min-width: 250px;
}

.user-card {
  display: flex;
  align-items: center;
  min-height: 60px;
  border: 1px lightgrey solid;
  padding: 0 1rem;
}

.fa-circle {
  font-size: 0.70rem;
  margin-right: 6px;
  color: lightgreen;
}

#msg-form {
  display: flex;
  align-items: center;
  background: lightblue;
  padding: 12px 24px;
}

#msg-input {
  width: 600px;
  flex: 1;
}

.label {
  margin-bottom: 4px;
}

.msg {
  min-height: 3rem;
  width: 400px;
  padding: 1rem 1rem 1.5rem 1rem;
  margin: 12px 0;
  background: lightgreen;
  border-radius: 6px;
  position: relative;
}

.msg-received {
  background: lightgrey;
  margin-left: 80px;
}

.msg-data {
  color: grey;
  position: absolute;
  font-size: 0.75rem;
  bottom: 0.33rem;
  left: 1rem;
}

#username {
  color: black;
}

@media screen and (max-width: 1000px) {
  body {
    height: calc(100vh - 196px);
    max-height: calc(100vh - 196px);
  }
  input {
    height: 6rem;
    font-size: 3rem;
  }
  button {
    height: 6rem;
    font-size: 3rem;
  }
  #chat-title {
    font-size: 3rem;
  }
  #logo {
    height: 8rem;
  }
  #username-edit {
    font-size: 2rem;
  }
  #user-form {
    font-size: 3rem;
  }
  #msg-input {
    flex: 1;
  }
  .msg {
    min-height: 5.5rem;
    font-size: 3rem;
    padding: 1rem 1rem 3rem 1rem;
    width: 500px;
  }
  .msg-received {
    align-self: flex-end;
    margin-left: 0;
  }
  .msg-data {
    font-size: 2rem;
  }
  #users-container {
    font-size: 2rem;
  }
}
